<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <ul class="nav d-flex justify-content-between p-2 border-bottom">
        <li class="nav-item">
          <a class="nav-link" href="/articles">Wikinimous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles/new">New Article</a>
        </li>
      </ul>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
